<app-navbar></app-navbar>
<style>
.table th{
  padding:0px;
  text-align: center;
  color:white;
  border-color: black;
}

td{
    text-align: center;
    padding: 0px;
}
.tbtn{
  padding: 0px;
border-radius: 0px;
}
.btn{border-radius: 0px;background-color: #12ACCF!important;}
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container">
  <div style="position:fixed; top:100px; right:20px;z-index:999;"> <flash-messages></flash-messages> </div>
  <form (submit) = "addLocate()" *ngIf="!toggleForm">
      <h2 class="page-header" style="text-align:center;padding-top: 35px;">Location</h2>
      <br/>
      <div class="text-center">
               <label>Location Name</label>
               <input type="text" [(ngModel)]="Loc_name" name="Loc_name" maxlength="50">
      </div>
<br/>
      <div class="text-center">
          <button type="submit" name="submit" class="btn btn-primary" style="width: 70px;" value="Save" *ngIf="locationAdd">Save</button>
<button type="reset" name="submit" class="btn btn-primary"  value="Clear" style="width: 70px;">Clear</button>
      </div>
 </form>

 <form #editfrm="ngForm" (ngSubmit)="editLocate(editfrm)" *ngIf="toggleForm" align="center">
 <h2 class="page-header" style="text-align:center;padding-top:35px;"> Edit Location</h2>
 <br/>
 <div class="text-center">
          <label>Location Name</label>
          <input type="text" [ngModel]="location.Loc_name" name="Loc_name" maxlength="50">
 </div>
<br/>
 <div class="text-center">
     <button type="submit" name="submit" class="btn btn-primary" style="width: 70px;" value="Save">Save</button>
<button type="reset" name="submit" class="btn btn-primary"  value="Clear" style="width: 70px;">Clear</button>
 </div>
</form>
</div>
<div class="col-md-12">
  <h2 class="page-header" style="text-align:center;"> Location List </h2>
  <div style="float:right;padding-bottom:5px;">
   <input type="text" [(ngModel)]="SearchText" name="search" placeholder="Search Here"/>
    <!-- <button (click)="GoForSearch()" ><b><i class="fa fa-search"></i>Search</b></button> -->
  </div>
<!-- end search bar   -->
<br/>
<br/>
  <table class="table table-bordered">
    <thead>
      <tr style="background-color: #12ACCF!important;">
        <th> Date Time </th>
        <th>Location Name</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let locate of locations | filter : SearchText | paginate:{itemsPerPage:10, currentPage:p}">
        <td>{{locate.CreatedOn}}</td>
        <td>{{ locate.Loc_name }}</td>
        <td>
          <form>
            <button type="button" name="button" (click)="deletelocate(locate._id,locate.Loc_name)" value="Delete" class=" btn-danger tbtn" *ngIf="locationDelete">Delete</button>
            <button type="button" name="button" class="btn btn-primary tbtn" (click)="showEditForm(locate)" *ngIf="locationEdit"> Edit </button>
            <button type="submit" name="submit" class="btn btn-primary tbtn" (click)="activateLocation(locate._id,locate.Loc_name)" *ngIf="locate.Active==false"> Activate </button>
            <button type="submit" name="submit" class="btn-danger tbtn" (click)="deactivateLocation(locate._id,locate.Loc_name)" *ngIf="locate.Active==true"> Deactivate </button>
          </form>
        </td>
      </tr>
    </tbody>
  </table>
  <div style="text-align:center;">
    <pagination-controls (pageChange)="p=$event"></pagination-controls>
  </div>
</div>
