
<link rel="stylesheet" href=
"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<div class="wrapper">
<div style="position:fixed; top:100px; right:20px; z-index:999;"> <flash-messages></flash-messages> </div>
  <nav class="navbar navbar-default" style="z-index: 2;">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">BootCamp</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
        <!-- <li><a href="/#">Admin</a></li> -->
      </ul>
    </div>
  </nav>

  <div class="">


             <!-- <div id="id01" class="w3-modal w3-card">
                 <div class="w3-modal-content">
                     <div class="w3-container">
                         <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-display-topright"><i class="fa fa-times"></i></span>
                         <h1>Fill Information</h1>
                         <form >
                             <div class="form-group">
                                 <label for="email">Email:</label>
                                 <input type="email" class="form-control" id="email">
                             </div>
                             <div class="form-group">
                                 <label for="email">Name:</label>
                                 <input type="email" class="form-control" id="email">
                             </div>
                             <div class="form-group">
                                 <label for="email">Message:</label>
                                 <textarea class=" form-control"></textarea>
                             </div>
                             <button type="submit" class="btn btn-primary"><i class="fa fa-paper-plane"></i>&nbsp;Send</button>
                         </form>
                     </div>
                 </div>
             </div> -->

         <div class="row">
             <div class="col-md-3 w3-amber " style="    background-color: #ffc107!important;">
                 <h4 style="  margin-left:5%!important;">State</h4>
                 <select name="state" id="state" class="form-control">
                     <option value="" selected="selected">Select a State</option>
                     <option value="AL">Alabama</option>
                     <option value="AK">Alaska</option>
                     <option value="AZ">Arizona</option>
                     <option value="AR">Arkansas</option>
                     <option value="CA">California</option>
                     <option value="CO">Colorado</option>
                     <option value="CT">Connecticut</option>
                     <option value="DE">Delaware</option>
                     <option value="DC">District Of Columbia</option>
                     <option value="FL">Florida</option>
                     <option value="GA">Georgia</option>
                     <option value="HI">Hawaii</option>
                     <option value="ID">Idaho</option>
                     <option value="IL">Illinois</option>
                     <option value="IN">Indiana</option>
                     <option value="IA">Iowa</option>
                     <option value="KS">Kansas</option>
                     <option value="KY">Kentucky</option>
                     <option value="LA">Louisiana</option>
                     <option value="ME">Maine</option>
                     <option value="MD">Maryland</option>
                     <option value="MA">Massachusetts</option>
                     <option value="MI">Michigan</option>
                     <option value="MN">Minnesota</option>
                     <option value="MS">Mississippi</option>
                     <option value="MO">Missouri</option>
                     <option value="MT">Montana</option>
                     <option value="NE">Nebraska</option>
                     <option value="NV">Nevada</option>
                     <option value="NH">New Hampshire</option>
                     <option value="NJ">New Jersey</option>
                     <option value="NM">New Mexico</option>
                     <option value="NY">New York</option>
                     <option value="NC">North Carolina</option>
                     <option value="ND">North Dakota</option>
                     <option value="OH">Ohio</option>
                     <option value="OK">Oklahoma</option>
                     <option value="OR">Oregon</option>
                     <option value="PA">Pennsylvania</option>
                     <option value="RI">Rhode Island</option>
                     <option value="SC">South Carolina</option>
                     <option value="SD">South Dakota</option>
                     <option value="TN">Tennessee</option>
                     <option value="TX">Texas</option>
                     <option value="UT">Utah</option>
                     <option value="VT">Vermont</option>
                     <option value="VA">Virginia</option>
                     <option value="WA">Washington</option>
                     <option value="WV">West Virginia</option>
                     <option value="WI">Wisconsin</option>
                     <option value="WY">Wyoming</option>
                 </select>

             </div>
             <div class="col-md-3 w3-blue"   style="background-color: #12ACCF!important"  >
                 <h4>Format:</h4>
                 <input type="radio" class="w3-margin" /><label>All</label>
                 <input type="radio" class="w3-margin" /><label>Online</label>
                 <input type="radio" class="w3-margin" /><label>Inperson</label>

                 <h4>Time commitment:</h4>
                 <input type="radio" class="w3-margin" /><label>All</label>
                 <input type="radio" class="w3-margin" /><label>Fulltime</label>
                 <input type="radio" class="w3-margin" /><label>PartTime</label>
             </div>
             <div class="col-md-6 w3-red " style="background-color: #f44336!important;color:#fff!important;">
                 <h4>Subjects:</h4>
                 <input type="radio" class="w3-margin" /><label>All</label>
                 <input type="radio" class="w3-margin" /><label>Full Stack Web Development</label>

                 <input type="radio" class="w3-margin" /><label> Frontend Web Development</label><br />
                 <input type="radio" class="w3-margin" /><label>UX/UI Design</label>
                 <input type="radio" class="w3-margin" /><label>Mobile App Development</label>
                 <input type="radio" class="w3-margin" /><label>Data Science</label>
             </div>
         </div>





     </div>









         <br>
         <br>
<div class="col-md-12">
  <!-- start search bar   -->


    <!-- <button (click)="GoForSearch()" ><b><i class="fa fa-search"></i>Search</b></button> -->

  <!-- end search bar   -->
<br/>
<table class="table table-bordered" style="">
  <thead>
    <tr style="background-color: #12ACCF!important;">
      <th class="f2">Logo</th>
      <th class="f2">Academy</th>
      <th class="f2">ProgramName</th>
      <th class="f2">ProgramType</th>
      <th class="f2">ProgramDuration</th>

      <!-- <th>ProgramDescription</th> -->
      <!-- <th>ProgramSubject</th> -->
      <!-- <th>ProgramLocation</th> -->
      <th class="f2">Cost</th>
      <th class="f2">Career Services</th>
      <th class="f2">Financing</th>
      <th class="f2">Scholarship</th>
      <!-- <th>StartDate</th>
      <th>Length</th>
      <th>Classsize</th>
      <th>Commitment</th> -->
      <th class="f2">Action</th>
    </tr>
  </thead>
  <tbody >
    <tr *ngFor = "let cource of SearchData | filter : SearchText | paginate:{itemsPerPage:10, currentPage:p}">
      <td class="f2"><img src="../../assets/{{cource.AcademyId?.AcademyLogo}}" height=50px width=50px></td>
      <td class="f2">{{cource.AcademyId?.AcademyName}}</td>
      <td class="f2">{{ cource.ProgramName }}</td>
      <td *ngIf="cource.ProgramType==1" class="f2">Front End Web Application Development</td>
      <td *ngIf="cource.ProgramType==2" class="f2">Full Stack Applicationd Development</td>
      <td *ngIf="cource.ProgramType==3" class="f2">User Experience Design</td>

      <td class="f2">{{ cource.ProgramDuration }}</td>

      <!-- <td>{{ cource.ProgramDescription }}</td> -->
      <!-- <td>{{ cource.ProgramSubject }}</td> -->
      <!-- <td>{{ cource.ProgramLocationId?.Loc_name }}</td> -->
       <td class="f2">{{ cource.Cost }}</td>
       <td *ngIf="cource.CareerServices" class="f2">Yes</td>
       <td *ngIf="!cource.CareerServices" class="f2">No</td>

       <td *ngIf="cource.Financing" class="f2">Yes</td>
       <td *ngIf="!cource.Financing" class="f2">No</td>

       <td *ngIf="cource.Scholarship" class="f2">Yes</td>
       <td *ngIf="!cource.Scholarship" class="f2">No</td>
      <!--<td>{{ cource.StartDate }}</td>
      <td>{{ cource.Length }}</td>
      <td>{{ cource.Classsize }}</td>
      <td>{{ cource.Commitment }}</td> -->
      <td>
        <button type="button" (click)="ShowDetails(cource._id,cource.AcademyId._id)" style="background-color: #12ACCF!important;color:white;"><b><i class="fa fa-search" style="color:white;"></i>Details</b></button>&nbsp;
        <button type="button" (click)="DirectInquiry(cource.AcademyId._id,cource._id)" style="background-color: #12ACCF!important;color:white;"><b><i class="fa fa-search"  style="color:white;"></i>Direct Inquiry</b></button>
      </td>
    </tr>
  </tbody>
</table>

</div>

<div id="popUP" *ngIf="POPUP" style="position:fixed; top:10%; left:45%;width:30%;border:1px solid black; ">
  <header style="background-color: #337ab7;padding:1px;">
  <button type="button" class="btn btn-default" (click)="inquiryPopUp()" id="close" style="padding:1px!important;background-color: #337ab7;border:none;"><i class="fa fa-close" style="font-size:36px;color:white!important;hight:20px;font-size:20px!important;margin-top:2%!important;"></i></button>
  <h1 style="color:white;"> Inquiry </h1>
</header><br>
  <form (submit)="onInquiry()">
    <table>
        <input  type="text" [(ngModel)]="PopAcademyId" name="AcademyId" style="margin-left: 65px;" hidden>
      <tr>
        <td>Name</td>
        <td ><input  type="text" [(ngModel)]="PopName" name="Name" style="margin-left:20%!important;"></td>
      </tr><br>
      <tr>
        <td>Phone No</td>
        <td ><input  type="number" [(ngModel)]="PopPhone" name="Phone" style="margin-left:20%!important;"></td>
      </tr><br>
      <tr>
        <td>EmailId</td>
        <td ><input  type="text" [(ngModel)]="PopEmailId" name="EmailId" style="margin-left:20%!important;"></td>
      </tr><br>
      <tr>
        <td>Notes</td>
        <td ><input  type="Notes" [(ngModel)]="PopNotes" name="Notes" style="margin-left:20%!important;"></td>
      </tr><br>
      <tr>
        <td></td>
        <td><button type="submit" name="submit" class="btn btn-primary">Submit</button></td>
      </tr>
    </table>
  </form>
</div>
