<app-navbar></app-navbar>
<div class="container">
    <div style="position:fixed; top:100px; right:20px;z-index:999;"> <flash-messages></flash-messages> </div>
  <form (submit) = "addUser()" *ngIf="!toggleForm">
      <h2  style="text-align:center;padding-top: 50px;" id="f3">User</h2>
      <br/>
      <div class="row">
          <label  id="f1" style="margin-left:2%!important;">FirstName </label>
          <input type="text" [(ngModel)]="FirstName" name="FirstName"  style="margin-left:.5%!important;" >

          <label  id="f1"  style="margin-left:2%!important;">LastName </label>
          <input type="text" [(ngModel)]="LastName" name="LastName"  style="margin-left:.5%!important;" >

          <label id="f1"  style="margin-left:2%!important;">UserName </label>
          <input type="text" [(ngModel)]="UserName" name="UserName"  style="margin-left:.5%!important;"  >

          <label  id="f1"  style="margin-left:2%!important;">Password </label>
          <input type="password" [(ngModel)]="Password" name="Password"  style="margin-left:.5%!important;"  >
      </div>
<br/>

<div class="col-md-12">
  <h2  style="text-align:center;" id="f3">Rights List</h2>
  <small> <input type="checkbox" (change)="checkAll()"> <b> Checked All </b> </small>
  <table class="table table-bordered ">
    <thead>
      <tr style="background-color: #12ACCF!important;">
        <th>Form Name</th>
        <th>Add</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>View</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let right of UserRights">
        <td>{{ right.FormName }}</td>
        <td><input type="checkbox" name="add" [(ngModel)]="right.Add"/></td>
        <td><input type="checkbox" name="edit" [(ngModel)]="right.Edit"/></td>
        <td><input type="checkbox" name="delete" [(ngModel)]="right.Delete"/></td>
        <td><input type="checkbox" name="view" [(ngModel)]="right.View"/></td>
      </tr>
    </tbody>
  </table>
</div>
<div class="text-center">
    <button type="submit" name="submit" class="btn btn-primary" align="center" value="Save" style="width:70px;"> Save </button>
<button type="reset" name="submit" class="btn btn-primary"  value="Clear" style="width: 70px;">Clear</button>
</div>
  </form>

<form #editfrm="ngForm" (ngSubmit)="editUser(editfrm)" *ngIf="toggleForm">
<h2 class="page-header" style="text-align:center;padding-top: 35px;"> Edit User</h2>
<div class="row">
  <label class="un">FirstName </label>
  <input type="text" [ngModel]="user.FirstName" name="FirstName" class="un" >

  <label class="un">LastName </label>
  <input type="text" [ngModel]="user.LastName" name="LastName" class="un">

  <label class="un"> UserName </label>
  <input type="text" [ngModel]="user.UserName" name="UserName" class="un" >

  <label class="un">Password </label>
  <input type="password" [ngModel]="user.Password" name="Password"  class="un" >
</div>
<br/>

<div class="col-md-12">
  <h2 class="page-header" style="text-align:center;">Rights List</h2>
  <table class="table table-bordered ">
    <thead>
      <tr style="background-color: #12ACCF!important;">
        <th id="f2">Form Name</th>
        <th id="f2">Add</th>
        <th id="f2">Edit</th>
        <th id="f2">Delete</th>
        <th id="f2">View</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let myRights of singleRights; let i = index">
        <td>{{ myRights.FormName }}</td>
        <input type="hidden" [(ngModel)]="myRights._id" name="rightsID_{{i}}">
        <td><input type="checkbox" [(ngModel)]="myRights.Add" name="add_{{i}}" [checked]="myRights.Add"></td>
        <td><input type="checkbox" [(ngModel)]="myRights.Edit" name="edit_{{i}}" [checked]="myRights.Edit"></td>
        <td><input type="checkbox" [(ngModel)]="myRights.Delete" name="delete_{{i}}" [checked]="myRights.Delete"></td>
        <td><input type="checkbox" [(ngModel)]="myRights.View" name="view_{{i}}" [checked]="myRights.View"></td>
        <!-- <td> {{myRights.Add}} </td>
        <td> {{myRights.Edit}} </td>
        <td> {{myRights.Delete}} </td>
        <td> {{myRights.View}} </td> -->
      </tr>
    </tbody>
  </table>

</div>
<div class="text-center">
<button type="submit" name="submit" class="btn btn-primary" align="center" style="width:70px;" id="f2"> Save </button>
<button type="reset" name="submit" class="btn btn-primary"  value="Clear" style="width: 70px;" id="f2">Clear</button>
</div>
</form>
<br/>
</div>

<div class="col-md-12">
  <h2 style="text-align:center;" id="f3">Users List</h2>
  <div style="float:right;padding-bottom:3px!important;">
   <input type="text" [(ngModel)]="SearchText" name="search" placeholder="Search Here"/>
    <!-- <button (click)="GoForSearch()" ><b><i class="fa fa-search"></i>Search</b></button> -->
  </div>
  <table class="table table-bordered ">
    <thead>
      <tr style="background-color: #12ACCF!important;">
        <!-- <th>UserId</th> -->
        <th id="f2"> Date Time </th>
        <th id="f2">FirstName</th>
        <th id="f2">LastName</th>
        <th id="f2">UserName</th>
        <th id="f2">Action</th>
        <!-- <th>RoleId</th>
        <th>Delete</th>
        <th>Edit</th>-->

      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let user of users | filter : SearchText | paginate:{itemsPerPage:10, currentPage:p}">
        <!-- <td>{{ user.UserId }}</td> -->
        <td>{{user.CreatedOn}}</td>
        <td>{{ user.FirstName }}</td>
        <td>{{ user.LastName }}</td>
        <td>{{ user.UserName }}</td>
        <!-- <td>{{ user.RoleId }}</td> -->
        <td>
          <form>
<button type="submit" name="submit" (click)="deleteuser(user._id,user.UserName)" value="Delete" class="btn-danger tbtn">Delete</button>
<button type="submit" name="submit" class="btn btn-primary tbtn" (click)="showEditForm(user._id)"> Edit </button>
<button type="submit" name="submit" class="btn btn-primary tbtn" (click)="activateUser(user._id,user.UserName)" *ngIf="user.Active==false"> Activate </button>
<button type="submit" name="submit" class="btn-danger tbtn" (click)="deactivateUser(user._id,user.UserName)" *ngIf="user.Active==true"> Deactivate </button>
</form>
</td>
      </tr>
    </tbody>
  </table>
  <div style="text-align:center;">
    <pagination-controls (pageChange)="p=$event"></pagination-controls>
  </div>
</div>

<!-- <div class="container">
  <div *ngFor = "let user of users" class="row">
    <div class="col-md-4">
      {{user.UserId}}
    </div>
    <div class="col-md-4">
      {{user.FirstName}}
    </div>
    <div class="col-md-4">
      {{user.LastName}}
    </div>
    <div class="col-md-4">
      {{user.UserName}}
    </div>
    <div class="col-md-4">
      {{user.Password}}
    </div>
    <div class="col-md-4">
      {{user.RoleId}}
    </div>
    <div class="col-md-4">
        <input type="button" (click)="deleteuser(user._id)" value="Delete" class="btn btn-danger">
        <br><br>
    </div>
    <div class="col-md-4">
     <button type="button" name="button" class="btn btn-primary" (click)="showEditForm(user)" [disabled]="toggleForm"> Edit </button>
   </div>
   <br><br>
  </div>
</div> -->
