.form-control {
      display: inline;
      width: 60%!important;
      padding: 3px;
       margin-bottom: 5px;
    }
  .fmargin{
        margin-top: 25px;
  }
  .col-md-9 {
    max-width: 30%!important;
  padding-bottom: 25px!important;
    }
    .btn{border-radius: 0px;}
    /* .navbar-nav {
           display: -ms-flexbox;
           display: flex;
           -ms-flex-direction: row;
           flex-direction: row;
           padding-left: 0;
           margin-bottom: 0;
           list-style: none;
       }
        .navbar-default {
         background-color: #bfcaca!important;
       } */
       .btn-primary {
           color: #fff;
           border-color: #007bff12;
       }
