

<!-- <form (submit) = "addImage()" *ngIf="!toggleForm" enctype="multipart/form-data" name="myForm" method="post">
    <h2 class="page-header" style="text-align:center;">File Upload Test</h2>
    <br/>
    <div class="row">
      <div class="col-sm-4">
        <label style="margin-left:30px;">Title </label>
        <input type="text" [(ngModel)]="title" name="title"  class="un" required>
      </div>
      <div class="col-sm-4">
     <input  type="file" class="form-control" name="multiple" ng2FileSelect [uploader]="uploader" multiple  />
         <label>Image </label>
        <input type="file" multiple name="upload" (change)="getFileDetails($event)" >
        </div>
    </div>
<br/>
  <div class="text-center">
  <button type="submit" name="submit" class="btn btn-primary" align="center" value="Upload"> Upload </button>
</div>
</form> -->

<!-- <form name="form" method="post" action="" enctype="multipart/form-data"> -->
