<img src="../../assets/profile.jpg" style="width:50%; height:98%;margin:5px; position:absolute;border:1px solid;">

 <div class="col-md-9 container">
   <div style="position:fixed; top:20px;z-index:999;"><flash-messages></flash-messages></div>
   <h3 style="padding-top:112px!important;text-align:center;">Academy Profile</h3>
<form (submit)="onAcademyRegister()" method="post" enctype="multipart/form-data">
  <div class="form-group" class="fmargin" align="center">
    <div class="col-xs-3">
      <label>Academy Name</label>
      <input  type="text" [(ngModel)]="AcademyName" name="AcademyName" style="width:180px;margin-left: 36px;">
    </div>

    <div class="col-xs-3">
      <label>AcademyWebsite</label>
      <input type="text"  [(ngModel)]="AcademyWebsite" name="AcademyWebsite" style="width:180px;margin-left: 28px;">
    </div>

    <div class="col-xs-3">
      <label>AcademyFounded</label>
      <input  type="text" style="width:180px;margin-left: 22px;" [(ngModel)]="AcademyFounded" name="AcademyFounded">
    </div>


  <div class="col-xs-3">
      <label>AcademyDescription</label>
        <textarea name="AcademyDiscription" rows="1" [(ngModel)]="AcademyDiscription" name="AcademyDiscription" style="vertical-align:middle;margin-left: 10px;width:180px;"></textarea>
      <!-- <input  type="text" style="margin-left: 34px;" [(ngModel)]="AcademyDiscription" name="AcademyDiscription"> -->
    </div>
    <div class="col-xs-3">
      <label>Headquarters</label>
      <input  type="text"  [(ngModel)]="Headquarters" name="Headquarters" style="width:180px;margin-left: 56px;margin-top: 3px;">
    </div>
    <div class="col-xs-3">
      <label>ZipCode</label>
      <input  type="text"  [(ngModel)]="ZipCode" name="ZipCode" style="width:180px;margin-left: 92px;">
    </div>


<div class="col-xs-3">
<label style="margin-left: 85px;">AcademyLogo</label>
<input name="file" id="file" type="file" (change)="fileChange($event)" style="margin-left: 20px;" />
<!-- <input  type="text"  [(ngModel)]="AcademyLogo" name="AcademyLogo" style="width:180px;"> -->
</div>
</div>
<br>
<div class="text-center">
<button type="submit" name="submit" class="btn btn-primary" value="Save">Save & Continue</button>
<button type="reset" name="submit" class="btn btn-primary"  value="Clear" style="width: 70px;">Clear</button>
</div>

</form>
</div>
