.form-control {
      display: inline;
      width: 60%!important;
       padding: 10px;
      margin-bottom: 5px;
    }
  .fmargin{
        margin-top: 25px;
  }
   .col-md-9 {
    max-width: 50%!important;
    }
    .col-xs-3 {
        width: 100%;
    }
    .col-md-9 {
    float: right;
}
.btn{border-radius: 0px;
background-color:#12ACCF!important;}
