<div class="container">
    <div style="position:fixed; top:100px; right:20px;z-index:999;"> <flash-messages></flash-messages> </div>
  <form (submit) = "addUser()">
      <h2 class="page-header" style="text-align:center;padding-top: 35px;">User</h2>
      <br/>
      <div class="row">
          <label class="un">FirstName </label>
          <input type="text" [(ngModel)]="FirstName" name="FirstName"  class="un">

          <label class="un">LastName </label>
          <input type="text" [(ngModel)]="LastName" name="LastName" class="un" >

          <label class="un">UserName </label>
          <input type="text" [(ngModel)]="UserName" name="UserName" class="un" >

          <label class="un">Password </label>
          <input type="password" [(ngModel)]="Password" name="Password" class="un"  >
      </div>
<br/>

<div class="col-md-12">
  <h2 class="page-header" style="text-align:center;">Rights List</h2>
  <table class="table table-bordered ">
    <thead>
      <tr style="background-color: #12ACCF!important;">
        <th>Form Name</th>
        <th>Add</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>View</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let right of UserRights">
        <td>{{ right.FormName }}</td>
        <td><input type="checkbox" name="add" [(ngModel)]="right.Add" onclick="return false;"/></td>
        <td><input type="checkbox" name="edit" [(ngModel)]="right.Edit" onclick="return false;"/></td>
        <td><input type="checkbox" name="delete" [(ngModel)]="right.Delete" onclick="return false;"/></td>
        <td><input type="checkbox" name="view" [(ngModel)]="right.View" onclick="return false;"/></td>
      </tr>
    </tbody>
  </table>
</div>
<div class="text-center">
    <button type="submit" name="submit" class="btn btn-primary" align="center" value="Save" style="width:70px;"> Save </button>
<button type="reset" name="submit" class="btn btn-primary"  value="Clear" style="width: 70px;">Clear</button>
</div>
</form>
