.form-control {
    display: inline;
    width: 60%!important;
    padding: 3px;
  }
  .fmargin{
        margin-top: 25px;
  }
  .col-md-9 {
    max-width: 30%!important;
  padding-bottom: 25px!important;
    }
  .mail{margin-left: 26px;}
