<img src="../../assets/profile.jpg" style="width:50%; height:98%;margin:5px; position:absolute;border:1px solid;">
<app-academypanel></app-academypanel>
 <div class="col-md-9 container">
   <div style="position:fixed; right:50px;top:50px;z-index:999;"><flash-messages></flash-messages></div>
   <h3 style="padding-top:40px!important;text-align:center;">Academy Profile Update</h3>
<form #editfrm="ngForm" (ngSubmit)="editProfile(editfrm)" method="post" enctype="multipart/form-data">
  <div class="form-group" class="fmargin" align="center">
    <div class="col-xs-3">
      <label>Academy Name</label>
      <input  type="text" [ngModel]="academies.AcademyName" name="AcademyName" style="width:180px;margin-left: 39px;">
    </div>

    <div class="col-xs-3">
      <label>AcademyWebsite</label>
      <input type="text"  [ngModel]="academies.AcademyWebsite" name="AcademyWebsite" style="width:180px;margin-left: 28px;">
    </div>

    <div class="col-xs-3">
      <label>AcademyFounded</label>
      <input  type="text" style="width:180px;margin-left: 22px;" [ngModel]="academies.AcademyFounded" name="AcademyFounded">
    </div>


  <div class="col-xs-3">
      <label>AcademyDiscription</label>
        <textarea name="AcademyDiscription" rows="1" [ngModel]="academies.AcademyDiscription" name="AcademyDiscription" style="vertical-align:middle;margin-left: 10px;width:180px;"></textarea>
      <!-- <input  type="text" style="margin-left: 34px;" [(ngModel)]="AcademyDiscription" name="AcademyDiscription"> -->
    </div>
    <div class="col-xs-3">
      <label>Headquarters</label>
      <input  type="text"  [ngModel]="academies.Headquarters" name="Headquarters" style="width:180px;margin-left: 56px;margin-top: 3px;">
    </div>
    <div class="col-xs-3">
      <label>ZipCode</label>
      <input  type="text"  [ngModel]="academies.ZipCode" name="ZipCode" style="width:180px;margin-left: 92px;">
    </div>


<div class="col-xs-3">
<label style="margin-right: 235px;">AcademyLogo</label>
<input name="file" id="file" type="file" (change)="fileChange($event)" style="margin-left: 90px!important;" />
</div>
<div class="col-xs-3">
  <h4>Your selected image:</h4>
  <img src="../../assets/{{ academies.AcademyLogo }}" height="80px" width="100px" style="padding-bottom: 5px!important;">
<br/>
</div>
</div>
<!-- </div> -->
<br/>

<div class="text-center">
<button type="submit" name="submit" class="btn btn-primary" value="Update">Update</button>
<button type="reset" name="submit" class="btn btn-primary"  value="Clear" style="width: 70px;">Clear</button>
</div>

</form>
</div>
