<app-navbar></app-navbar>
<div class="container">
<div style="position:fixed; top:100px; right:20px;z-index:999;"> <flash-messages></flash-messages> </div>
  <form (submit) = "addAcademy()" *ngIf="!toggleForm" name="academyForm" method="post" enctype="multipart/form-data">
    <h2 class="page-header" style="text-align:center;padding-top:35px;font-size: 24px!important;font-family: proxima-nova,Proxima Nova,Helvetica Neue,Helvetica,Open Sans,Arial,sans-serif!important;color: #696e7c!important">Academy</h2>
    <br/>
  <div class="row">
    <div class="col-sm-4">
      <label style=" color: #696e7c!important;font-size: 14px!important;font-family: proxima-nova,Proxima Nova,Helvetica Neue,Helvetica,Open Sans,Arial,sans-serif!important;">Academy Name</label>

       <input type="text" [(ngModel)]="AcademyName" name="AcademyName" class="an">
    </div>
    <div class="col-sm-4">
      <label  style="color: #696e7c!important;font-size: 14px!important;font-family: proxima-nova,Proxima Nova,Helvetica Neue,Helvetica,Open Sans,Arial,sans-serif!important;">AcademyWebsite</label>
       <input type="url" [(ngModel)]="AcademyWebsite" name="AcademyWebsite" class="web" >
    </div>
    <div class="col-sm-4">
      <label  style="color: #696e7c!important; font-size: 14px!important;font-family: proxima-nova,Proxima Nova,Helvetica Neue,Helvetica,Open Sans,Arial,sans-serif!important;">EmailId</label>
      <input type="text" [(ngModel)]="EmailId" name="EmailId" class="mail">
    </div>

  </div>
  <div class="row">
    <div class="col-sm-4">
    <label  style="color: #696e7c!important; font-size: 14px!important;font-family: proxima-nova,Proxima Nova,Helvetica Neue,Helvetica,Open Sans,Arial,sans-serif!important;">AcademyDiscription</label>
    <textarea name="AcademyDiscription" rows="1" [(ngModel)]="AcademyDiscription" class="desc" ></textarea>
    </div>
    <div class="col-sm-4">
      <label  style=" color: #696e7c!important;font-size: 14px!important;font-family: proxima-nova,Proxima Nova,Helvetica Neue,Helvetica,Open Sans,Arial,sans-serif!important;">ZipCode</label>
      <input type="text" [(ngModel)]="ZipCode" name="ZipCode" class="zip" >
    </div>
    <div class="col-sm-4">
      <label  style="color: #696e7c!important; font-size: 14px!important;font-family: proxima-nova,Proxima Nova,Helvetica Neue,Helvetica,Open Sans,Arial,sans-serif!important;">Password</label>
      <input type="password" [(ngModel)]="Password" name="Password" class="psw">
    </div>

  </div>
  <div class="row">
    <!-- <div class="col-sm-4">
      <label>AcademyProfileImage</label>
      <input type="text" [(ngModel)]="AcademyProfileImage" name="AcademyProfileImage">
    </div> -->
    <div class="col-sm-4">
          <label  style="color: #696e7c!important; font-size: 14px!important;font-family: proxima-nova,Proxima Nova,Helvetica Neue,Helvetica,Open Sans,Arial,sans-serif!important;">Headquarters</label>
         <input type="text" [(ngModel)]="Headquarters" name="Headquarters" class="hd">
    </div>
    <div class="col-sm-4">
        <label  style=" color: #696e7c!important;font-size: 14px!important;font-family: proxima-nova,Proxima Nova,Helvetica Neue,Helvetica,Open Sans,Arial,sans-serif!important;">AcademyFounded</label>
        <input type="text" [(ngModel)]="AcademyFounded" name="AcademyFounded" class="af">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <label  style="color: #696e7c!important; font-size: 14px!important;font-family: proxima-nova,Proxima Nova,Helvetica Neue,Helvetica,Open Sans,Arial,sans-serif!important;">AcademyLogo</label>
      <!-- <input type="text" [(ngModel)]="AcademyLogo" name="AcademyLogo" class="logo"> -->
      <input name="file" id="file" type="file" (change)="fileChange($event)" />
    </div>
  </div>
<div class="col-md-12 text-center">
  <button type="submit" name="submit" style="width:70px; font-size: 14px!important;font-family: proxima-nova,Proxima Nova,Helvetica Neue,Helvetica,Open Sans,Arial,sans-serif!important;" class="btn btn-primary" value="Save" *ngIf="academyAdd">Save</button>
<button type="reset" name="submit" class="btn btn-primary"  value="Clear" style="width: 70px; font-size: 14px!important;font-family: proxima-nova,Proxima Nova,Helvetica Neue,Helvetica,Open Sans,Arial,sans-serif!important;">Clear</button>
  <!-- <input type="submit" class="btn btn-primary" value="Save"> -->
</div>
</form>


<form #editfrm="ngForm" (ngSubmit)="editAcademy(editfrm)" *ngIf="toggleForm"  method="post" enctype="multipart/form-data">
<h2 class="page-header" style="text-align:center;padding-top:35px; font-size: 14px!important;font-family: proxima-nova,Proxima Nova,Helvetica Neue,Helvetica,Open Sans,Arial,sans-serif!important;"> Edit Academy </h2>
<br/>
<div class="row">
<div class="col-sm-4">
<label style="color: #696e7c!important; font-size: 14px!important;font-family: proxima-nova,Proxima Nova,Helvetica Neue,Helvetica,Open Sans,Arial,sans-serif!important;">Academy Name</label>
<input type="text" [ngModel]="Academy.AcademyName" name="AcademyName" class="an">
</div>
<div class="col-sm-4">
  <label style="color: #696e7c!important; font-size: 14px!important;font-family: proxima-nova,Proxima Nova,Helvetica Neue,Helvetica,Open Sans,Arial,sans-serif!important;">AcademyWebsite</label>
  <input type="url" [ngModel]="Academy.AcademyWebsite" name="AcademyWebsite" class="web">
</div>
<div class="col-sm-4">
  <label style=" color: #696e7c!important;font-size: 14px!important;font-family: proxima-nova,Proxima Nova,Helvetica Neue,Helvetica,Open Sans,Arial,sans-serif!important;">EmailId</label>
  <input type="text" [ngModel]="Academy.EmailId" name="EmailId" class="mail">
</div>
</div>

<div class="row">

</div>
<div class="row">
<div class="col-sm-4">
<label style=" color: #696e7c!important;font-size: 14px!important;font-family: proxima-nova,Proxima Nova,Helvetica Neue,Helvetica,Open Sans,Arial,sans-serif!important;">AcademyDiscription</label>
  <textarea name="AcademyDiscription" rows="1" [ngModel]="Academy.AcademyDiscription" class="desc"></textarea>
  <!-- AcademyDiscription <input type="text" [ngModel]="Academy.AcademyDiscription" name="AcademyDiscription" clss="form-controller"> -->
</div>
<div class="col-sm-4">
<label style="color: #696e7c!important; font-size: 14px!important;font-family: proxima-nova,Proxima Nova,Helvetica Neue,Helvetica,Open Sans,Arial,sans-serif!important;">ZipCode </label>
  <input type="text" [ngModel]="Academy.ZipCode" name="ZipCode" class="zip">
</div>
<div class="col-sm-4">
  <label style="color: #696e7c!important; font-size: 14px!important;font-family: proxima-nova,Proxima Nova,Helvetica Neue,Helvetica,Open Sans,Arial,sans-serif!important;">Password</label>
  <input type="password" [ngModel]="Academy.Password" name="Password" class="psw">
</div>

</div>
<div class="row">
<!-- <div class="col-sm-4">
  <label>AcademyProfileImage</label>
  <input type="text" [ngModel]="Academy.AcademyProfileImage" name="AcademyProfileImage" >
</div> -->
<div class="col-sm-4">
  <label style="color: #696e7c!important; font-size: 14px!important;font-family: proxima-nova,Proxima Nova,Helvetica Neue,Helvetica,Open Sans,Arial,sans-serif!important;">Headquarters </label>
   <input type="text" [ngModel]="Academy.Headquarters" name="Headquarters" class="hd">
</div>

<div class="col-sm-4">
<label style=" color: #696e7c!important;font-size: 14px!important;font-family: proxima-nova,Proxima Nova,Helvetica Neue,Helvetica,Open Sans,Arial,sans-serif!important;">AcademyFounded</label>
<input type="text" [ngModel]="Academy.AcademyFounded" name="AcademyFounded" class="af">
</div>


</div>
<div class="row">
  <div class="col-sm-4">
    <label style=" color: #696e7c!important;font-size: 14px!important;font-family: proxima-nova,Proxima Nova,Helvetica Neue,Helvetica,Open Sans,Arial,sans-serif!important;">AcademyLogo</label>
      <input name="fileE" id="fileE" type="file" (change)="fileChange($event)" />
     <!-- <input type="text" [ngModel]="Academy.AcademyLogo" name="AcademyLogo" class="logo" > -->

      <!-- <input name="fileE" id="fileE" type="file" (change)="fileChange($event)" /><br> -->
      <!-- <button type="submit" (click)="UploadImage()">Upload</button> -->
</div>
  </div>
<br/>

<div class="col-md-6">
  <h4 style=" color: #696e7c!important;font-size: 14px!important;font-family: proxima-nova,Proxima Nova,Helvetica Neue,Helvetica,Open Sans,Arial,sans-serif!important;">your selected image:</h4>
  <img src="../../assets/{{ logoPath }}" height="100px" width="150px" style="">
</div>
<div class="col-md-12 text-center">
<button type="submit" name="submit" style="width:70px;" class="btn btn-primary">Save</button>
<button type="reset" name="submit" class="btn btn-primary"  value="Clear" style="width: 70px;">Clear</button>
</div>
</form>
</div>

<div class="col-md-12">
  <h2 class="page-header" style="text-align:center;;font-size: 24px!important;font-family: proxima-nova,Proxima Nova,Helvetica Neue,Helvetica,Open Sans,Arial,sans-serif!important; color: #696e7c!important;">Academy List</h2>
  <div style="float:right;padding-bottom:5px;">
   <input type="text" [(ngModel)]="SearchText" name="search" placeholder="Search Here"/>
    <!-- <button (click)="GoForSearch()" ><b><i class="fa fa-search"></i>Search</b></button> -->
  </div>
  <table class="table table-bordered">
    <thead>

      <tr style="background-color: #12ACCF!important;">
        <th style="font-size: 14px!important;font-family: proxima-nova,Proxima Nova,Helvetica Neue,Helvetica,Open Sans,Arial,sans-serif!important;">Date Time</th>
        <th style="font-size: 14px!important;font-family: proxima-nova,Proxima Nova,Helvetica Neue,Helvetica,Open Sans,Arial,sans-serif!important;">AcademyName</th>
        <th style="font-size: 14px!important;font-family: proxima-nova,Proxima Nova,Helvetica Neue,Helvetica,Open Sans,Arial,sans-serif!important;">AcademyWebsite</th>
        <th style="font-size: 14px!important;font-family: proxima-nova,Proxima Nova,Helvetica Neue,Helvetica,Open Sans,Arial,sans-serif!important;">AcademyLogo</th>
        <!-- <th>AcademyProfileImage</th> -->
        <th style="font-size: 14px!important;font-family: proxima-nova,Proxima Nova,Helvetica Neue,Helvetica,Open Sans,Arial,sans-serif!important;">AcademyFounded</th>
        <th style="font-size: 14px!important;font-family: proxima-nova,Proxima Nova,Helvetica Neue,Helvetica,Open Sans,Arial,sans-serif!important;">Headquarters</th>
        <th style="font-size: 14px!important;font-family: proxima-nova,Proxima Nova,Helvetica Neue,Helvetica,Open Sans,Arial,sans-serif!important;">AcademyDiscription</th>
        <th style="font-size: 14px!important;font-family: proxima-nova,Proxima Nova,Helvetica Neue,Helvetica,Open Sans,Arial,sans-serif!important;">ZipCode</th>
        <th style="font-size: 14px!important;font-family: proxima-nova,Proxima Nova,Helvetica Neue,Helvetica,Open Sans,Arial,sans-serif!important;">EmailId</th>
        <th style="font-size: 14px!important;font-family: proxima-nova,Proxima Nova,Helvetica Neue,Helvetica,Open Sans,Arial,sans-serif!important;">Action</th>
      </tr>

    </thead>
    <tbody>
      <tr *ngFor = "let data of academies | filter : SearchText | paginate:{itemsPerPage:10, currentPage:p}">
        <td>{{ data.CreatedOn }}</td>
        <td>{{ data.AcademyName }}</td>
        <td>{{ data.AcademyWebsite }}</td>
        <td><img src="{{data.TempLogo}}" height="50px" width="50px" alt="Loading...">
          {{data.TempLogo}}
        </td>
        <!-- <td>{{ data.AcademyLogo }}</td> -->
        <td>{{ data.AcademyFounded }}</td>
        <td>{{ data.Headquarters }}</td>
        <td>{{ data.AcademyDiscription }}</td>
        <td>{{ data.ZipCode }}</td>
        <td>{{ data.EmailId }}</td>
        <td>
          <form>
            <button type="button" name="button" (click)="deleteAcademy(data._id,data.AcademyName)" value="Delete" class="btn-danger tbtn" *ngIf="academyDelete">Delete</button>
            <button type="button" name="button" class="btn btn-primary tbtn" (click)="showEditForm(data,data.AcademyLogo)" *ngIf="academyEdit"> Edit </button>
            <button type="submit" name="submit" class="btn btn-primary tbtn" (click)="activateAcademy(data._id,data.AcademyName)" *ngIf="data.Active==false"> Activate </button>
            <button type="submit" name="submit" class="btn-danger tbtn" (click)="deactivateAcademy(data._id,data.AcademyName)" *ngIf="data.Active==true"> Deactivate </button>
          </form>
        </td>
      </tr>
    </tbody>
  </table>
  <div style="text-align:center;">
  <pagination-controls (pageChange)="p=$event"></pagination-controls>
  </div>
</div>
