<link rel="stylesheet" href=
"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="wrapper">

  <nav class="navbar navbar-default" style="z-index:2;">
    <div class="container-fluid">
      <!-- <div class="navbar-header">
        <a class="navbar-brand" href="#">BootCamp</a>
      </div> -->
      <ul class="nav navbar-nav">
        <li class="active"><a href="/academyHome">Home</a></li>
        <li><a href="/profileupdate">Academy Profile</a></li>
        <li><a href="/singleAcademyCourse">Course</a></li>
        <li><a href="/academyInquiries">Inquiry</a></li>

      </ul>

      <ul class="nav navbar-nav navbar-right" style="color:white;">
          <li style="color:white!important;margin-right: 37px;font-size:20px;">{{LoggerName}}</li>
          <li (click)="logout()" style="color:#9d9d9d; cursor:pointer;"><span class="glyphicon glyphicon-log-out" >Logout</span> </li>
      </ul>
    </div>
  </nav>
</div>
