.table th{
  padding:0px;
  text-align: center;
  color:white;
  border-color: black;
}

td{
    text-align: center;
    padding: 0px;
}
body{
  background-color: #ddd!important;
}
.un{
margin-left: 7px;
}

.tbtn{
  padding: 0px;
  border-radius: 0px;
}
.btn{border-radius: 0px;
background-color: #12ACCF!important;}
.tleft{
margin-left: -142px!important;
}
 .desc{
   width: 172px;
vertical-align: middle;
  margin-left: 6px;
}.pn{margin-left: 19px;}
.pt{width: 175px;margin-left: 24px;height: 25px;}
.len{margin-left: 93px;}
.cst{margin-left: 108px;}
.csize{margin-left: 61px;}
.ps{margin-left: 15px;}
.pd{margin-left: 8px;}
.st{margin-left: 61px;
    width: 175px;}
    .cm{margin-left: 33px;}
    .dd1{width: 173px;height: 25px;}
    .dd{width: 173px;margin-left: 77px;height: 25px;}
.ser{width: 173px;
    height: 25px;}
